# Data Cleaning : Time Series Data


- A hypothetical company, ABC Financial Services Corp makes financial investment decisions on behalf of it's clients based on the company's economic research. A lot of these decisions involve speculating whether financial instruments will increase or decrease in value in the future.
- ABC Corp utilizes several economic indicators but there is one in particular that is heavily weighted in their analysis and that is the [University of Michigan's Consumer Sentiment Survey](https://en.wikipedia.org/wiki/University_of_Michigan_Consumer_Sentiment_Index).
- The only problem is that they have to wait for the release of this indicator which erodes some of their competitive advantage in the market and they would like a way to predict this number.
- I propose to use a form of Machine Learning (ML) to make Time Series preditions on the final Consumer Sentiment number to be released.
- To do this we are going to use other economic indicators (as features) released before and data from various relevant industries to construct a dataset that is ready to run on predictive algorithims.
- The historical datasets that ABC Corp uses will be downloaded as follows:
    - [The Dow Jones Index](https://finance.yahoo.com/quote/%5EDJI/history/)
    - [US Unemployemnt (Jobless Claims) data from the US Department of Labor](https://fred.stlouisfed.org/series/UNRATE)
    - [Historical price of Crude Oil in the open market](https://fred.stlouisfed.org/series/MCOILBRENTEU)
    - [New Housing Starts from US Census Beareau](https://fred.stlouisfed.org/series/HOUST#0)
    - [Total Vehicles Sold](https://fred.stlouisfed.org/series/TOTALSA)
    - [Retail Sales data from US Census Beareau](https://fred.stlouisfed.org/series/RSXFS)
    - [Federal Interest Rates](https://fred.stlouisfed.org/series/FEDFUNDS])
    - [The University of Michigan's Consumer Sentiment Survey](http://www.sca.isr.umich.edu/)  -- data to predict

Data cleaning is highly dependent on the type of data and the task to be achieved. In our case we combine data from different sources and clean up the resulting dataframe. In image classification data, we may have to reshape the image sizes and create labels while a sentiment analysis dataset may need to be checked for spelling and keyword extraction.

Moving forward, we will first import any libraries that we need to handle our data cleaning process.

In [1]:
# Import necessary libraries

import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline
from scipy import stats
from datetime import datetime
from functools import reduce
import datetime
sns.set_style("darkgrid")

## Exercise 1:

1- Load all datasets (locate at `../data/` repository) to pandas DataFrames
```python
>>> dow     = 
>>> unemp   =
>>> oil     = 
>>> hstarts = 
>>> cars    = 
>>> retail  = 
>>> fedrate = 
>>> umcsi   =
```

In [2]:
dow = pd.read_csv('../data/Dow Jones Industrial Average DJI.csv')
unemp = pd.read_csv('../data/Civilian Unemployment Rate UNRATE.csv')
oil = pd.read_csv('../data/Crude Oil Prices MCOILBRENTEU.csv')
hstarts = pd.read_csv('../data/Housing Starts HOUST.csv')
cars = pd.read_csv('../data/Total_Vehicle_Sales_(TOTALSA).csv')
retail = pd.read_csv('../data/Advance Retail Sales_RSXFS.csv')
fedrate = pd.read_csv('../data/Federal Interest Rates FEDFUNDS.csv')
umcsi=pd.read_csv("C:/Users/media/Downloads/tbmics.csv")

2- Visually inspect the dataframes
    - 5 first rows for dow, umemp an oil
    - 5 last rows for umcsi and cars

In [3]:
dow1 = dow.head(5)
print(dow1)
unemp1=unemp.head(5)
print(unemp1)
oil1=oil.head(5)
print(oil1)
cars1=cars.tail(5)
print(cars1)
umcsi1=umcsi.tail(5)
print(umcsi1)

         Date         Open         High          Low        Close  \
0  1985-01-01  1277.719971  1305.099976  1266.890015  1286.770020
1  1985-02-01  1276.939941  1307.530029  1263.910034  1284.010010
2  1985-03-01  1285.339966  1309.959961  1242.819946  1266.780029
3  1985-04-01  1264.800049  1290.300049  1245.800049  1258.060059
4  1985-05-01  1257.180054  1320.790039  1235.530029  1315.410034

     Adj Close     Volume
0  1286.770020   44450000
1  1284.010010  207300000
2  1266.780029  201050000
3  1258.060059  187110000
4  1315.410034  242250000
         DATE  UNRATE
0  1948-01-01     3.4
1  1948-02-01     3.8
2  1948-03-01     4.0
3  1948-04-01     3.9
4  1948-05-01     3.5
         DATE  MCOILBRENTEU
0  1987-05-01         18.58
1  1987-06-01         18.86
2  1987-07-01         19.86
3  1987-08-01         18.98
4  1987-09-01         18.31
           DATE  TOTALSA
500  2017-09-01     18.9
501  2017-10-01     18.4
502  2017-11-01     17.9
503  2017-12-01     18.2
504  2018-01-01     17.5
         Month  YYYY  ICS_ALL
615     August  2021     70.3
616  September  2021     72.8
617    October  2021     71.7
618   November  2021     67.4
619   December  2021     70.6

3- Get the shape of the different datasets

In [4]:
dow_shape=dow.shape
print(dow_shape)
unemp_shape=unemp.shape
print(unemp_shape)
oil_shape=oil.shape 
print(oil_shape)
hstarts_shape=hstarts.shape
print(hstarts_shape)
cars_shape=cars.shape
print(cars_shape)
retail_shape=retail.shape 
print(retail_shape)
fedrate_shape=fedrate.shape
print(fedrate_shape)
umcsi_shape=umcsi.shape
print(umcsi_shape)

(399, 7)
(841, 2)
(369, 2)
(709, 2)
(505, 2)
(313, 2)
(763, 2)
(620, 3)

4- Get dataframe top rows view

In [5]:
dow.head(1)
unemp.head(1)
oil.head(1)
hstarts.head(1)
cars.head(1)
retail.head(1)
fedrate.head(1)
umcsi.head(1)

      Month  YYYY  ICS_ALL
0  November  1952     86.2

5- Print the statistical charateristics of the datsets. 
    - Explain the output
    > write your answer here

In [6]:
dow_stat=dow.describe
print(dow_stat)
unemp_stat=unemp.describe
print(unemp_stat)
oil_stat=oil.describe 
print(oil_stat)
hstarts_stat=hstarts.describe
print(hstarts_stat)
cars_stat=cars.describe
print(cars_stat)
retail_stat=retail.describe
print(retail_stat)
fedrate_stat=fedrate.describe
print(fedrate_stat)
umcsi_stat=umcsi.describe
print(umcsi_stat)

<bound method NDFrame.describe of            Date          Open          High           Low         Close  \
0    1985-01-01   1277.719971   1305.099976   1266.890015   1286.770020
1    1985-02-01   1276.939941   1307.530029   1263.910034   1284.010010
2    1985-03-01   1285.339966   1309.959961   1242.819946   1266.780029
3    1985-04-01   1264.800049   1290.300049   1245.800049   1258.060059
4    1985-05-01   1257.180054   1320.790039   1235.530029   1315.410034
..          ...           ...           ...           ...           ...
394  2017-11-01  23442.900391  24327.820313  23242.750000  24272.349609
395  2017-12-01  24305.400391  24876.070313  23921.900391  24719.220703
396  2018-01-01  24809.349609  26616.710938  24741.699219  26149.390625
397  2018-02-01  26083.039063  26306.699219  23360.289063  25219.380859
398  2018-02-16  25165.939453  25432.419922  25149.259766  25219.380859

        Adj Close      Volume
0     1286.770020    44450000
1     1284.010010   207300000
2     1266.780029   201050000
3     1258.060059   187110000
4     1315.410034   242250000
..            ...         ...
394  24272.349609  7335640000
395  24719.220703  6589890000
396  26149.390625  9116920000
397  25219.380859  6494730000
398  25219.380859   406729453

[399 rows x 7 columns]>
<bound method NDFrame.describe of            DATE  UNRATE
0    1948-01-01     3.4
1    1948-02-01     3.8
2    1948-03-01     4.0
3    1948-04-01     3.9
4    1948-05-01     3.5
..          ...     ...
836  2017-09-01     4.2
837  2017-10-01     4.1
838  2017-11-01     4.1
839  2017-12-01     4.1
840  2018-01-01     4.1

[841 rows x 2 columns]>
<bound method NDFrame.describe of            DATE  MCOILBRENTEU
0    1987-05-01         18.58
1    1987-06-01         18.86
2    1987-07-01         19.86
3    1987-08-01         18.98
4    1987-09-01         18.31
..          ...           ...
364  2017-09-01         56.15
365  2017-10-01         57.51
366  2017-11-01         62.71
367  2017-12-01         64.37
368  2018-01-01         69.08

[369 rows x 2 columns]>
<bound method NDFrame.describe of            DATE   HOUST
0    1959-01-01  1657.0
1    1959-02-01  1667.0
2    1959-03-01  1620.0
3    1959-04-01  1590.0
4    1959-05-01  1498.0
..          ...     ...
704  2017-09-01  1159.0
705  2017-10-01  1261.0
706  2017-11-01  1299.0
707  2017-12-01  1209.0
708  2018-01-01  1326.0

[709 rows x 2 columns]>
<bound method NDFrame.describe of            DATE  TOTALSA
0    1976-01-01     12.8
1    1976-02-01     13.3
2    1976-03-01     13.4
3    1976-04-01     13.2
4    1976-05-01     13.0
..          ...      ...
500  2017-09-01     18.9
501  2017-10-01     18.4
502  2017-11-01     17.9
503  2017-12-01     18.2
504  2018-01-01     17.5

[505 rows x 2 columns]>
<bound method NDFrame.describe of            DATE   RSXFS
0    1992-01-01  146913
1    1992-02-01  147270
2    1992-03-01  146831
3    1992-04-01  148082
4    1992-05-01  149015
..          ...     ...
308  2017-09-01  429623
309  2017-10-01  432584
310  2017-11-01  436032
311  2017-12-01  435673
312  2018-01-01  434364

[313 rows x 2 columns]>
<bound method NDFrame.describe of            DATE  FEDFUNDS
0    1954-07-01      0.80
1    1954-08-01      1.22
2    1954-09-01      1.06
3    1954-10-01      0.85
4    1954-11-01      0.83
..          ...       ...
758  2017-09-01      1.15
759  2017-10-01      1.15
760  2017-11-01      1.16
761  2017-12-01      1.30
762  2018-01-01      1.41

[763 rows x 2 columns]>
<bound method NDFrame.describe of          Month  YYYY  ICS_ALL
0     November  1952     86.2
1     February  1953     90.7
2       August  1953     80.8
3     November  1953     80.7
4     February  1954     82.0
..         ...   ...      ...
615     August  2021     70.3
616  September  2021     72.8
617    October  2021     71.7
618   November  2021     67.4
619   December  2021     70.6

[620 rows x 3 columns]>

6- Which datasets have null values

In [7]:
print(dow.isnull().sum().sum())
print(unemp.isnull().sum().sum())
print(hstarts.isnull().sum().sum())
print(cars.isnull().sum().sum())
print(retail.isnull().sum().sum())
print(fedrate.isnull().sum().sum())
print(umcsi.isnull().sum().sum())

0
0
0
0
0
0
0

7- What are your observations ?
> write your answer here

## Exercise 2: dow dataset

1- Drop column volume

In [8]:
dow.drop('Volume')
print(dow)
#this error because i excecute it twice so the code didn't find the 'Volume'

KeyError: "['Volume'] not found in axis"

2- Rename columns to upper case to match other dfs

In [ ]:
#no Volume founded
dow.columns = ['DATE', 'OPEN', 'HIGH', 'LOW', 'CLOSE', 'ADJ CLOSE']
print(dow)

           DATE          OPEN          HIGH           LOW         CLOSE  \
0    1985-01-01   1277.719971   1305.099976   1266.890015   1286.770020
1    1985-02-01   1276.939941   1307.530029   1263.910034   1284.010010
2    1985-03-01   1285.339966   1309.959961   1242.819946   1266.780029
3    1985-04-01   1264.800049   1290.300049   1245.800049   1258.060059
4    1985-05-01   1257.180054   1320.790039   1235.530029   1315.410034
..          ...           ...           ...           ...           ...
394  2017-11-01  23442.900391  24327.820313  23242.750000  24272.349609
395  2017-12-01  24305.400391  24876.070313  23921.900391  24719.220703
396  2018-01-01  24809.349609  26616.710938  24741.699219  26149.390625
397  2018-02-01  26083.039063  26306.699219  23360.289063  25219.380859
398  2018-02-16  25165.939453  25432.419922  25149.259766  25219.380859

        ADJ CLOSE
0     1286.770020
1     1284.010010
2     1266.780029
3     1258.060059
4     1315.410034
..            ...
394  24272.349609
395  24719.220703
396  26149.390625
397  25219.380859
398  25219.380859

[399 rows x 6 columns]

3- Create 'Year' column with int values instead of float. Use function bellow:

```python
>>> def to_int(x):
>>>     return int(x)
```

In [ ]:
print(umcsi)

         Month  YYYY  ICS_ALL
0     November  1952     86.2
1     February  1953     90.7
2       August  1953     80.8
3     November  1953     80.7
4     February  1954     82.0
..         ...   ...      ...
615     August  2021     70.3
616  September  2021     72.8
617    October  2021     71.7
618   November  2021     67.4
619   December  2021     70.6

[620 rows x 3 columns]

In [ ]:
def to_int(x):
    return int(x)
umcsi['Year'] = umcsi['YYYY'].apply(to_int)
print(umcsi)

         Month  YYYY  ICS_ALL  Year
0     November  1952     86.2  1952
1     February  1953     90.7  1953
2       August  1953     80.8  1953
3     November  1953     80.7  1953
4     February  1954     82.0  1954
..         ...   ...      ...   ...
615     August  2021     70.3  2021
616  September  2021     72.8  2021
617    October  2021     71.7  2021
618   November  2021     67.4  2021
619   December  2021     70.6  2021

[620 rows x 4 columns]

## Exercise 3: umcsi dataset

1- Drop NaN Values

In [ ]:
#no NaN values founds in my csv

2- Combine year columns to one column format

In [15]:
umcsi['DATE'] = umcsi.apply(lambda x: datetime.datetime.strptime("{0} {1}".format(x['YYYY'],x['Month']), "%Y %B"),axis=1)
print(umcsi['DATE'])

0     1952-11-01
1     1953-02-01
2     1953-08-01
3     1953-11-01
4     1954-02-01
         ...
615   2021-08-01
616   2021-09-01
617   2021-10-01
618   2021-11-01
619   2021-12-01
Name: DATE, Length: 620, dtype: datetime64[ns]

3- Turn date format to string to match other DATE's for umcsi dataset. We'll merge the data on this column so this is a vital step. Use the function bellow:

```python
>>> def to_str(x):
>>>     return str(x)[:10]
```

In [17]:
def to_str(x):
    return str(x)[:10]

umcsi['DATE'] = umcsi['DATE'].apply(to_str)
print(umcsi['DATE'])
print(umcsi)

0      1952-11-01
1      1953-02-01
2      1953-08-01
3      1953-11-01
4      1954-02-01
          ...
615    2021-08-01
616    2021-09-01
617    2021-10-01
618    2021-11-01
619    2021-12-01
Name: DATE, Length: 620, dtype: object
         Month  YYYY  ICS_ALL        DATE
0     November  1952     86.2  1952-11-01
1     February  1953     90.7  1953-02-01
2       August  1953     80.8  1953-08-01
3     November  1953     80.7  1953-11-01
4     February  1954     82.0  1954-02-01
..         ...   ...      ...         ...
615     August  2021     70.3  2021-08-01
616  September  2021     72.8  2021-09-01
617    October  2021     71.7  2021-10-01
618   November  2021     67.4  2021-11-01
619   December  2021     70.6  2021-12-01

[620 rows x 4 columns]

4- Drop unneeded columns for umcsi dataset

In [23]:
umcsi.drop(['YYYY','Month'],axis=1,inplace=True)
print(umcsi)

     ICS_ALL        DATE
0       86.2  1952-11-01
1       90.7  1953-02-01
2       80.8  1953-08-01
3       80.7  1953-11-01
4       82.0  1954-02-01
..       ...         ...
615     70.3  2021-08-01
616     72.8  2021-09-01
617     71.7  2021-10-01
618     67.4  2021-11-01
619     70.6  2021-12-01

[620 rows x 2 columns]

5- Move 'DATE' column to the front

In [25]:
List = list(umcsi)
List.insert(0, List.pop(List.index('DATE')))
umcsi = umcsi.reindex(columns = List)
print(umcsi)

           DATE  ICS_ALL
0    1952-11-01     86.2
1    1953-02-01     90.7
2    1953-08-01     80.8
3    1953-11-01     80.7
4    1954-02-01     82.0
..          ...      ...
615  2021-08-01     70.3
616  2021-09-01     72.8
617  2021-10-01     71.7
618  2021-11-01     67.4
619  2021-12-01     70.6

[620 rows x 2 columns]

## Exercice 3:

1- Concatenate all dataframes into one final dataframe using `lambda` function
    - Use the function `reduce` imported from `functools` library

2- Remove all rows with outliers in at least one row

In [ ]:
# Your code here

3- Change the DATE column from String to python's datetime.datetime format

In [ ]:
# Your code here

4- Rename columns to more user friendly names. Use the code bellow:

```python
>>> df.columns = ['DATE', 'OPEN', 'HIGH', 'LOW', 'CLOSE', 'ADJ CLOSE', 'VOLUME', 'UNEMP %','OIL PRICE','NEW HOMES','NEW CARS SOLD', 'RETAIL SALES','FED INTRST %','CSI' ]
```

In [ ]:
# Your code here

5- Visualize a few basic end data characteristics.
<img src="../data/DowJonesIndustrials.png" alt="Drawing" style="width: 500px;"/>
<img src="../data/FederalInterestRate.png" alt="Drawing" style="width: 500px;"/>
<img src="../data/BrentCrudeOilperbarrel.png" alt="Drawing" style="width: 500px;"/>
<img src="../data/NewHomeStarts.png" alt="Drawing" style="width: 500px;"/>

6- Plot the correclation matrix. What's you observations ?

In [ ]:
# Your code here

7- Drop the less useful columns

In [ ]:
# Your code here

8- Create a new column / feature from subtracting the LOW and HIGH column called SPREAD which is the difference between the two.

In [ ]:
# Your code here

9- Move the SPREAD column next to CLOSE as they are related

In [ ]:
# Your code here

10- Reset the index

In [ ]:
# Your code here

11- View final dataframe correlation matrix

In [ ]:
# Your code here

12- Compare your final result with data on file `../data/cleaned_timeseries.csv`

In [ ]:
# Your code here

13- What's your conclusion ?
> Write you answer here